<div align="center" class="card text-center offset-4" style="width: 30%;margin-top:35px">
    <div class="card-header">
        New User Creation
    </div>
    <div class="card-body ">
        <form [formGroup]="form" (ngSubmit)="submit(form,user)">
            <div>
                All these <span style="color: red;">*</span> fields are required<br><br>
                <div class="form-group">
                    <label for="firstName" style="display: flex;">First Name <span style="color: red;">*</span></label>
                    <input type="text" formControlName="firstName" class="form-control" id="firstName"
                        placeholder="Enter First Name" [(ngModel)]="user.first_name">
                    <div *ngIf="f.firstName.touched && f.firstName.invalid" class="alert alert-danger p-0">
                        <div *ngIf="f.firstName.errors.required || notFirst">Name is required.</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastName" style="display: flex;">Last Name<span style="color: red;">*</span></label>
                    <input type="text" formControlName="lastName" class="form-control" id="lastName"
                        placeholder="Enter Last Name" [(ngModel)]="user.last_name">
                    <div *ngIf="f.lastName.touched && f.lastName.invalid" class="alert alert-danger p-0">
                        <div *ngIf="f.lastName.errors.required || notLast || submitted">Name is required.</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" style="display: flex;">Email<span style="color: red;">*</span></label>
                    <input formControlName="email" id="email" type="text" class="form-control" placeholder="Enter Email"
                        [(ngModel)]="user.email">
                    <div *ngIf="f.email.touched && f.email.invalid " class="alert alert-danger p-o">
                        <div *ngIf="f.email.errors.required || notEmail ">Email is required.</div>
                        <div *ngIf="f.email.errors.email">Please, enter valid email address.</div>
                    </div>
                </div>


                <div class="form-group">
                    <label for="exampleFormControlFile1" style="display: flex;">upload Image<span
                            style="color: red;">*</span></label>
                    <input type="file" (change)="fileSelect($event)" class="form-control-file"
                        id="exampleFormControlFile1">
                    <div style="color: red;">{{ImageValid}}</div>
                </div>

                <button type="submit" class="btn btn-primary mr-4 pr-4 pl-4" [disabled]="form.invalid ">Save</button>
                <button type="button" class="btn btn-outline-warning pr-3 pl-3" (click)="cancel()">Cancel</button>

            </div>
        </form>
    </div>

</div>